body {
    padding-top: 30px;
    margin: auto;
    max-width: 1024px;
}

footer {
    margin-top: 80px;
}

header {
    text-align: center;
}

li {
    font-size: 18px;
}

section {
    margin-top: 50px;
}

.bash {
    background-color: #F6F6F6;
    border-radius: 3px;
}