body {
    padding-top: 30px;
    margin: auto;
    max-width: 1024px;
}

footer {
    margin-top: 80px;
}

header {
    text-align: center;
}

li {
    font-size: 18px;
}

section {
    margin-top: 50px;
}

.custom-counter {
    list-style: none;
}

.custom-counter li {
    counter-increment: step-counter;
    margin-bottom: 10px;
}

.custom-counter li::before {
    background-color: rgb(0,200,200);
    border-radius: 3px;
    color: white;
    content: counter(step-counter);
    font-size: 80%;
    font-weight: bold;
    margin-right: 5px;
    padding: 3px 8px;
}

.bash {
    background-color: #F6F6F6;
    border-radius: 3px;
}